
.main-page body {
    background-color: #f8f9fa; /* Light background color */
}
.main-page .display-4 {
    color: #343a40; /* Dark text for contrast */
}
.main-page .form-control {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow around input */
    border-radius: 10px; /* Rounded borders for input */
}
.main-page .btn-primary {
    border-radius: 10px; /* Rounded borders for button */
}


.custom-bg {
    background-color: #f8f9fa; /* Light grey background */
    /* border-radius: 15px; */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
    margin-bottom: 20px; /* Adds space between custom-bg sections */
}

.custom-bg-alt {
    background-color: #e9ecef; /* Slightly different background color */
    padding: 5px; /* Significantly reduced padding */
}

.heading-margin {
    margin-bottom: 0; /* Remove bottom margin of the heading */
}

.form-check {
    margin-bottom: 0; /* Reduce margin for form-check elements */
}

/* Additional style to ensure CodeMirror aligns text to the left */
.CodeMirror {
    text-align: left;
    direction: ltr; /* Left-to-right text direction */
    height: 60rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#diffFrame {
    width: 80%; /* Adjust the width as needed */
    height: 600px;
    border: none;
    display: block; /* Ensure it's not set to none */
}

.main-page .form-control, .main-page .btn-primary {
    height: 40px; /* Example height, adjust as needed */
}

