html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}


.main-page {
    background-color: #efeeeb; /* Soft pastel blue background */
    font-family: 'Open Sans', sans-serif;
}

.main-page .display-4 {
    color: #40343f;
    /* margin-bottom: 1em; */
}

.main-page .form-control {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.main-page .btn-primary {
    background-color: #0056b3;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
}

.main-page .btn-primary:hover {
    background-color: #004494;
}

.custom-bg {
    background-color: hwb(90 85% 11%); /* Light background for inner sections */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.custom-bg-alt {
    background-color: #e9ecef; /* Slightly different background color */
    padding: 5px;
}

.heading-margin {
    margin-bottom: 1em;
}

.form-check {
    margin-bottom: 0;
}

.CodeMirror {
    text-align: left;
    direction: ltr;
    height: auto;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.iframe-container {
    width: 100%;
    margin-top: 20px;
}

#diffFrame {
    width: 100%;
    height: 600px;
    border: none;
}

.main-page .form-control, .main-page .btn-primary {
    height: 40px;
}

.custom-placeholder::placeholder {
    font-size: 12px; /* Example size, adjust as needed */
    color: #6c757d; /* Placeholder text color, adjust if needed */
}



body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

header h1 {
    color: #0056b3;
}

.last-updated {
    font-style: italic;
    color: #555;
}

section h2 {
    color: #004494;
}

footer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
}

footer a {
    color: #0056b3;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    margin-top: 10vh; /* Adds space above the container */
}

.custom-checkbox-spacing {
    margin-right: 20px; /* Adjust this value as needed */
}


