<!-- Checkbox within a custom background -->
<div class="custom-bg custom-bg-alt">
    <div class="row mb-3">
        <!-- Heading for the Diff Type with reduced margin -->
        <div class="col-md-12">
            <h5 class="heading-margin" style="text-decoration: underline;">Diff Type</h5>
        </div>
    </div>

    <div class="row">
        <!-- Folder Checkbox -->
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="showFolderCheckbox">
                <label class="form-check-label" for="showFolderCheckbox">
                    Folder
                </label>
            </div>
        </div>

        <!-- Code Checkbox -->
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="showCodeCheckbox">
                <label class="form-check-label" for="showCodeCheckbox">
                    Code
                </label>
            </div>
        </div>

        <!-- Code (w/o line) Checkbox -->
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="showCodeWoLineCheckbox">
                <label class="form-check-label" for="showCodeWoLineCheckbox">
                    Code (w/o line)
                </label>
            </div>
        </div>

        <!-- Code Side by Side Checkbox -->
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="showCodeSideBySideCheckbox">
                <label class="form-check-label" for="showCodeSideBySideCheckbox">
                    Code Side by Side
                </label>
            </div>
        </div>
    </div>
</div>
