<!-- Checkbox within a custom background -->
<div class="custom-bg custom-bg-alt">
    <div class="row mb-3">
        <!-- Heading for the Diff Type with reduced margin -->
        <div class="col-md-12">
            <h6 class="heading-margin" style="text-decoration: underline;">Select diff type:</h6>
        </div>
    </div>

    <div class="row">
        <!-- Folder Checkbox -->
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="showFolderCheckbox" data-url="{{ diff_files['folder_diff'] }}">
                <label class="form-check-label" for="showFolderCheckbox">Folder</label>
            </div>
        </div>

        <!-- Folder Checkbox Modifications only -->
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="showFolderCheckboxmodifications" data-url="{{ diff_files['folder_diff_mod'] }}">
                <label class="form-check-label" for="showFolderCheckboxmodifications">Folder: Modified only</label>
            </div>
        </div>

        <!-- Code Checkbox -->
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="showCodeCheckbox" data-url="{{ diff_files['line_diff'] }}">
                <label class="form-check-label" for="showCodeCheckbox">Code</label>
            </div>
        </div>

        <!-- Code (w/o line) Checkbox -->
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="showCodeWoLineCheckbox" data-url="{{ diff_files['no_line_diff'] }}">
                <label class="form-check-label" for="showCodeWoLineCheckbox">Code: Without-Line</label>
            </div>
        </div>

        <!-- Code Side by Side Checkbox -->
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="showCodeSideBySideCheckbox" data-url="{{ diff_files['side_by_side_diff'] }}">
                <label class="form-check-label" for="showCodeSideBySideCheckbox">Code: Side-by-Side</label>
            </div>
        </div>
    </div>
</div>
