<!-- Checkbox within a custom background -->
<div class="row">


    <!-- Second box with remaining three checkboxes -->
    <div class="col-md-6" style="padding-left: 10px;">
        <h6 class="heading-margin" style="text-decoration: underline; margin-bottom: 20px;">File Diff:</h6> <!-- Increased margin-bottom for more space -->
        <!-- Code Checkbox -->
        <div class="form-check mb-2"> <!-- Reduced margin-bottom to decrease gap between checkboxes -->
            <input class="form-check-input" type="checkbox" id="showCodeCheckbox" data-url="{{ diff_files['line_diff'] }}">
            <label class="form-check-label" for="showCodeCheckbox">Code</label>
        </div>

        <!-- Code (w/o line) Checkbox -->
        <div class="form-check mb-2"> <!-- Reduced margin-bottom to decrease gap between checkboxes -->
            <input class="form-check-input" type="checkbox" id="showCodeWoLineCheckbox" data-url="{{ diff_files['no_line_diff'] }}">
            <label class="form-check-label" for="showCodeWoLineCheckbox">Code: Without-Line</label>
        </div>

        <!-- Code Side by Side Checkbox -->
        <div class="form-check mb-2"> <!-- Reduced margin-bottom to decrease gap between checkboxes -->
            <input class="form-check-input" type="checkbox" id="showCodeSideBySideCheckbox" data-url="{{ diff_files['side_by_side_diff'] }}">
            <label class="form-check-label" for="showCodeSideBySideCheckbox">Code: Side-by-Side</label>
        </div>
    </div>
</div>
