{% if branches %}
<div class="row mb-4">
    <!-- Branch Select -->
    <div class="col">
        <label for="branchSelect" class="form-label">Select Branch</label>
        <select class="form-select" id="branchSelect" name="selectedBranch">
            <option selected>Select a branch</option>
            {% for branch in branches %}
            <option value="{{ branch }}" {% if branch == selected_branch %}selected{% endif %}>{{ branch }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col">
        <label for="integerInput" class="form-label">Depth</label>
        <input type="number" class="form-control" id="integerInput" name="depthValue" value="{{ depth }}" required>
    </div>
</div>

<!-- Folder Depth and Checkbox Row -->
<div class="row mb-4">
    <!-- Folder Depth Input -->
    <div class="col-md-6">
        <label for="folderDepthInput" class="form-label">Folder Depth</label>
        <input type="number" class="form-control" id="folderDepthInput" name="folderdepthValue" value="{{ folder_depth }}" required>
    </div>

    <!-- Show Directory Structure Checkbox -->
    <div class="col-md-6">
        <div class="form-check mt-4">
            <input type="checkbox" class="form-check-input" id="show_files" name="show_files" value="yes" {% if show_files %}checked{% endif %}>
            <label class="form-check-label" for="show_files">Show Files too</label>
        </div>
    </div>
</div>

<button type="submit" class="btn btn-primary">Submit</button>
{% endif %}
