{% extends "base.html" %}

{% block title %}GitExplorer{% endblock %}

{% block body %}

<!-- Error Message Alert -->
{% if error_message %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ error_message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div class="text-center" style="padding-top: 10vh; max-width: 600px; margin: auto;">
    <h1 class="display-4 mb-4">MyGitExplorer</h1>
    <form method="post" class="mt-4">
        <div class="form-group d-inline-block" style="width: 100%;">
            <input type="text" class="form-control form-control-lg" id="sshAddress" name="sshAddress" placeholder="Enter SSH Address" style="text-align: center;">
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-primary btn-lg">Initialize</button>
        </div>
    </form>
</div>

<style>
    body {
        background-color: #f8f9fa; /* Light background color */
    }
    .display-4 {
        color: #343a40; /* Dark text for contrast */
    }
    .form-control {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow around input */
        border-radius: 25px; /* Rounded borders for input */
    }
    .btn-primary {
        border-radius: 25px; /* Rounded borders for button */
    }
</style>
{% endblock %}
