<!-- Form for entering repository address -->
<label for="sshAddress" style="font-weight: bold; text-decoration: underline; font-size: 16px; display: block;text-align: left;">
    Diff within Repo
</label>
<div class="custom-bg">

    <form method="post" class="mt-4">
        <!-- Label for the form -->

        <div class="form-group d-flex justify-content-between align-items-center">
            <input type="text" class="form-control form-control-lg mr-2 custom-placeholder" id="sshAddress" name="sshAddress" 
            placeholder="Enter any public repo address for ex git@github.com:yaml/pyyaml.git">
               <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Submit</button>
        </div>
    </form>
</div>
