{% extends "base.html" %}

{% block title %}GitExplorer{% endblock %}

{% block body %}
<div class="main-page">
    <!-- Error Message Alert -->
    {% if error_message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error_message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <!-- Main content area -->
    <div class="text-center" style="padding-top: 10vh; max-width: 80%; margin: auto;">
        <!-- Form Section -->
        {% include 'main_form_section.html' %}

        <!-- File Comparison Section -->
        {% include 'main_file_comparison_section.html' %}


        <!-- Checkbox Files Section, included conditionally -->
        {% if show_checkbox_page %}
        {% include 'checkbox_files.html' %}
    <!-- IFrame Container -->
    <div class="iframe-container">
        <iframe id="diffFrame" width="100%" height="600px"></iframe>
    </div>

        {% endif %}
        <hr>
    </div>




        <!-- Footer Links -->
<!-- Footer Links -->
<div class="footer-links" style="text-align: center; margin-top: 20px; padding-bottom: 20px;">
    <a href="/about" style="margin-right: 15px; color: black;">About</a>
    <a href="{{ url_for('main.instructions') }}" style="margin-right: 15px; color: black;">Instructions</a>
    <a href="{{ url_for('main.privacy_policy') }}" style="margin-right: 15px; color: black;">Privacy Policy</a>
    <a href="{{ url_for('main.contact_us') }}" style="margin-right: 15px; color: black;">Contact</a>
</div>


    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</div>
{% endblock %}
