{% extends "base.html" %}

{% block title %}GitExplorer{% endblock %}

{% block body %}
<div class="main-page">
    <!-- Error Message Alert -->
    {% if error_message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error_message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <div class="text-center" style="padding-top: 10vh; max-width: 600px; margin: auto;">
        <h1 class="display-4 mb-4">GitExplorer</h1>
        <form method="post" class="mt-4">
            <div class="form-group d-flex justify-content-between align-items-center" style="width: 100%;">
                <input type="text" class="form-control form-control-lg mr-4 border-radius" id="sshAddress"
                    name="sshAddress" placeholder="Enter any public repo address from Github etc..." style="text-align: center; 
                       flex-grow: 1; margin-right: 1rem;">

                <!-- Updated Initialize button with btn-secondary class -->
                <button type="submit" class="btn btn-secondary">Initialize</button>
            </div>
        </form>
    </div>

    <div class="text-center" style="padding-top: 2vh; max-width: 800px; margin: auto;">
        <hr> <!-- First horizontal line -->

        <!-- Div with left-aligned text and a soft background color -->
        <div style="text-align: left; background-color: rgba(44, 200, 221, 0.653); padding: 10px;">
            <u><strong>Instructions:</strong></u><br><br>
            <p>Initialize any public repo from Github/Bitbucket/Gitlab etc using its address (https/ssh). It could be any public repo reachable on web. You can diff not only files but folders too between two commit hashes. The commit hashes need not be on the same branch.</p>
    
            <p>Some sample repo addresses:-<br><br>
                <em>git@github.com:yaml/pyyaml.git</em><br>
                <em>https://github.com/scikit-learn/scikit-learn.git</em><br>
                <em>git@bitbucket.org:fargo3d/public.git</em>
                </p>
    
            <p>Alternatively, if you just want to perform local diff then simply paste two versions of codes in the two text areas below. Once you press "Submit" button, you can select three different styles of diff by checking the boxes. You may also put text in one side and file link or file upload on the another side and vice versa.</p>
        </div>
    
        <hr> <!-- Second horizontal line -->
    





        <form method="post" class="mt-4" enctype="multipart/form-data">
            <div style="display: flex; justify-content: space-between;">
                <div style="width: 49%; margin-right: 1rem;">
                    <label for="code1" style="display: block; text-align: left;">Paste content below (priority1)</label>
                    <textarea id="code1" name="code1">{{ code1 }}</textarea>
                </div>
                <div style="width: 49%;">
                    <label for="code2" style="display: block; text-align: left;">Paste content below (priority1)</label>
                    <textarea id="code2" name="code2">{{ code2 }}</textarea>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between; margin-top: 20px;">
                <!-- File Upload for Input 1 -->
                <div style="width: 49%; margin-right: 1rem;">
                    <label for="newInput1" style="display: block; text-align: left;">Paste link (priority2)</label>
                    <input type="text" class="form-control" id="newInput1" name="newInput1" value="{{newInput1}}">
                    <div style="margin-top: 10px; text-align: left;">
                        <label for="fileUpload1">Upload File (priority3)</label>
                        <button type="button" onclick="document.getElementById('fileUpload1').click();">Choose File</button>
                        <span id="file-upload-status1">{{ uname1 }}</span>
                        <input type="file" id="fileUpload1" name="fileUpload1" style="display: none;" onchange="updateFileName1()">
                    </div>
                </div>

                <!-- File Upload for Input 2 -->
                <div style="width: 49%;">
                    <label for="newInput2" style="display: block; text-align: left;">Paste link (priority2)</label>
                    <input type="text" class="form-control" id="newInput2" name="newInput2" value="{{newInput2}}">
                    <div style="margin-top: 10px; text-align: left;">
                        <label for="fileUpload2">Upload File (priority3)</label>
                        <button type="button" onclick="document.getElementById('fileUpload2').click();">Choose File</button>
                        <span id="file-upload-status2">{{ uname2 }}</span>
                        <input type="file" id="fileUpload2" name="fileUpload2" style="display: none;" onchange="updateFileName2()">
                    </div>
                </div>
            </div>

            <!-- Updated Submit button with btn-secondary class -->
            <div style="margin-top: 20px;">
                <button type="submit" class="btn btn-secondary">Submit</button>
            </div>
        </form>
    </div>

    {% if show_checkbox_page %}
    <hr> <!-- Horizontal Divider -->
    <div style="margin-left: 10%; margin-right: 10%;">
        {% include 'checkbox_files.html' %}
    </div>
    <hr> <!-- Horizontal Divider -->
    {% endif %}

    <div class="iframe-container">
        <iframe id="diffFrame" width="100%" height="600px"></iframe>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</div>
{% endblock %}
