<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
    <link rel="static" href="styles.css"> <!-- Corrected link to your CSS file -->
</head>
<body>
    <div class="container">
        <header>
            <h1>Privacy Policy</h1>
        </header>
        
        <p class="last-updated">Last updated: Jan 2024</p>

        <section>
            <h2>1. Introduction</h2>
            <p>Welcome to www.mygitexplorer.com. We are committed to respecting the privacy of our users. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website www.mygitexplorer.com, including any other media form, media channel, or mobile website related or connected thereto.</p>
        
        
            <h2>2. Data Collection</h2>
            <p>We do not collect any personal data from our users. Our service involves performing diffs on public repositories, and no personal information is required or stored in this process.</p>
    
            <h2>3. Use of Google AdSense</h2>
            <p>Our website uses Google AdSense, a service for including advertisements from Google Inc. Google AdSense uses "cookies," which are text files placed on your computer, to help the website analyze how users use the site.</p>
            
            <h2>4. User Rights</h2>
            <p>You have the right to request information about, correct, delete, or restrict the processing of your personal data.</p>
    
            <h2>5. Third-Party Websites</h2>
            <p>Our website may contain links to third-party websites that are not affiliated with us. We are not responsible for the privacy practices or the content of third-party sites.</p>
    
            <h2>6. Changes to This Privacy Policy</h2>
            <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
    
            <h2>7. Contact Us</h2>
   
        
        </section>



        <footer>
            <p>If you have any questions about this Privacy Policy, please <a href="mailto:info@mygitexplorer.com">contact us</a>.</p>
        </footer>
    </div>
</body>
</html>
